.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-blueLight);
  color: var(--bg-black200);
  grid-column: 1/-1;
  padding: 1rem;
}

.footer span {
  display: flex;
  align-items: center;
  color: var(--bg-blue200);
}

.footer span svg {
  font-size: 0.85rem;
}
