.mainLogin {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
}

.drawContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form h4 {
  text-align: center;
  color: var(--bg-blue200);
}

.formPaper {
  padding: 1.5rem;
  min-width: 350px;
}

.field {
  display: flex;
  flex-direction: column;
}

.textSm {
  font-size: 0.85rem;
  cursor: pointer;
}

.fieldCenter {
  text-align: center;
}

/* forget Password */

.menu {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

.menu span {
  cursor: pointer;
}
