.header {
  box-shadow: -1px 5px 11px -3px rgba(163,140,140,0.91);
  -webkit-box-shadow: -1px 5px 11px -3px rgba(163,140,140,0.91);
  -moz-box-shadow: -1px 5px 11px -3px rgba(163,140,140,0.91);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}





.headerContainer nav ul {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}


.headerContainer ul li {
  margin: 0;
}

.user {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 10px;
  position: relative;
}

.miniMenu {
  display: none ;
}

.user {
  background-color: var(--bg-black);
  color: white;
  border-radius: 50%;
}

.user:hover > .miniMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -150%;
  padding: 1rem;
  background-color: white;
  color: var(--bg-black);
  border-radius: .4rem;
  box-shadow:  20px 20px 80px #bebebe,
             -20px -20px 80px #ffffff;

}


.miniMenu:hover {
  display: flex;
}
