.header {
  background-color: rgb(242, 246, 247);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.headerContainer nav ul {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.headerContainer ul li {
  margin: 0;
}

.user {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 10px;
  position: relative;
}

.miniMenu {
  display: none;
}

.user {
  background-color: var(--bg-black);
  color: white;
  border-radius: 50%;
}

.iconUser:hover > .miniMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -10%;
  padding: 1rem;
  background-color: white;
  color: var(--bg-black);
  border-radius: 0.4rem;
  box-shadow: 20px 20px 80px #e1e1e1, -5px -5px 80px #ffffff;
}

.miniMenu:hover {
  display: flex;
}

.iconUser {
  display: flex;
  align-items: center;
  position: relative;
}

.buttonDark {
  background-color: var(--bg-black);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

@media screen and (min-width: 540px) {
  .headerContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
}
