.header {
  background-color: var(--bg-blueLight);
  border-bottom: 1px solid var(--bg-gray100);
  padding: 1.5rem 1rem;
}

.imageContainer img {
  height: 30px;
  object-fit: cover;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid brown; */
  padding: 1rem;
}

.headerContainer nav {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  min-width: 30%;
}

.headerContainer ul li {
  margin: 0;
}

.user {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 10px;
  position: relative;
}

.miniMenu {
  display: none;
}

.user {
  background-color: var(--bg-black);
  color: white;
  border-radius: 50%;
}

.iconUser:hover > .miniMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -10%;
  padding: 1rem;
  background-color: white;
  color: var(--bg-black);
  border-radius: 0.4rem;
  box-shadow: 20px 20px 80px #e1e1e1, -5px -5px 80px #ffffff;
}

.miniMenu .anclea:hover {
  color: var(--bg-blue200);
  background-color: var(--bg-blueLight);
  padding: 0.25rem;
  border-radius: 0.4rem;
}

.miniMenu:hover {
  display: flex;
}

.iconUser {
  display: flex;
  align-items: center;
  position: relative;
}

.menu a {
  transition: all 0.5s ease;
}

.menu a:hover {
  color: var(--bg-gray300);
}

.buttonDark {
  background-color: var(--bg-black);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  column-gap: 0.5rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  background-color: var(--bg-bluePrimary);
  color: var(--bg-white) !important;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--bg-blue200);
}
.btn:active {
  transform: scale(0.9);
}

.selectButton {
  padding: 0.25rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 540px) {
  .headerContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .headerContainer {
    justify-content: space-between;
    padding: 0;
  }
}
