.title {
  font-size: 1.5rem;
  color: var(--bg-blue200);
  font-weight: bold;
}

.form {
  /* display: flex;
  flex-direction: column;
  row-gap: 2rem; */
}

.alert {
  color: var(--bg-red);
}

.alert span {
  font-weight: 700;
}

.field {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}

.subwrapper {
  width: 100%;
}

.inactive {
  background-color: var(--bg-gray100) !important;
}

.button {
  background: var(--bg-black);
  color: white;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

.button:hover {
  background: var(--bg-black100);
}

@media screen and (min-width: 768px) {
  .subwrapper {
    width: 50%;
  }

  .title {
    font-size: 2rem;
  }
}
