.cardContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.borderLeft {
}

.boxImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyCard {
  text-align: center;
  color: var(--bg-white);
}

.actions {
  text-align: center;
}

.bodyCard h3 {
  font-size: 1rem;
}

.bodyCard p {
  font-weight: 300;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1300px) {
  .borderLeft {
    border-right: 0.5px solid rgba(221, 221, 221, 0.695);
  }
}
