.asideContainer {
  padding: 40px;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background: var(--bg-blueLight);
  color: var(--black);
}

.imageContainer {
}

.title {
  margin-block-end: 52px;
}

.asideContainer ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-inline-start: 2rem;
  cursor: pointer;
}

.profile h4 {
  margin: 0;
}

.activeLink {
  display: inline;
  color: var(--bg-blue200);
  font-weight: bold;
  padding: 1rem;
  background-color: var(--bg-white);
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .asideContainer {
    grid-template-rows: auto 1fr auto;
  }
}
