.asideContainer {
  padding: 40px;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  background: var(--bg-white);
  color: var(--black);
}

.title {
  margin-block-end: 52px;
}

.asideContainer ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-inline-start: 2rem;

}

.profile h4 {
  margin: 0;
}

.activeLink {
  display: inline;
  color: rgb(57, 57, 241);
  font-weight: bold;
}