.main {
}
.main h1 {
  font-size: 1.5rem;
  color: var(--bg-blue200);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.field input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  border: 1px solid var(--bg-gray200);
}
.field input:focus {
  border: 2px solid var(--bg-blue200);
}

.headField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem;
}

.headField button {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  background-color: var(--bg-bluePrimary);
  border: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.headField button:active {
  transform: scale(0.95);
}

.buttonSubmit {
  background-color: var(--bg-black);
  color: white;
  border-radius: 0.5rem;
  width: auto;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .form {
    width: 50%;
  }
  .main h1 {
    font-size: 2rem;
  }
}
