.mainGrid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
}

@media screen and (min-width: 768px) {
  /* .mainGrid {
    grid-template-columns: auto 1fr;
  } */
}
