.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug {
  border: 3px solid brown;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1.25rem;
}

.subtitle {
  display: flex;
  justify-content: flex-end;
}

.subtitle span {
  font-size: 1.5rem;
  color: var(--bg-blue200);
}

.logoContent {
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  text-align: center;
}

.form-container input {
  padding: 1rem;
}

.form-container button {
  padding: 1rem;
  margin-top: 1rem;
}
