.logoSection {
  display: flex;
  justify-content: center;
  height: 400px;
  /* border: 2px solid brown; */
  padding-block: 2rem;
}

.logoSection img {
  height: 100%;
}

.text {
  display: flex;
  /* border: 2px solid brown; */
  justify-content: center;
}
.text h1 {
  color: var(--bg-blue200);
}
