.section {
  margin-block: 1.5rem;
}

.inputSection input {
  border: 1px solid var(--bg-black);
  color: var(--bg-blue200);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.inputSection input:focus {
  border: 2px solid var(--bg-blueSecondary100);
}

.keyContainer {
  /* border: 3px solid brown; */
  width: 100%;
}

@media screen and (min-width: 768px) {
  .keyContainer {
    /* border: 3px solid brown; */
    width: 50%;
  }
}
