.formExpGrid {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--bg-blueLight);
  height: 300px;
}

.formExpGrid h1 {
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  column-gap: 1rem;
  margin-top: 3rem;
}

.title {
  color: var(--bg-blue200);
}

@media screen and (min-width: 768px) {
  .formExpGrid {
    height: 250px;
  }
}
