.formLang {
  background: var(--bg-blueLight);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  height: 450px;
}

.formLang h2 {
  color: var(--bg-blue200);
  font-size: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field input {
  border-radius: 0.25rem;
  border: none;
  outline: none;
  border: 1px solid var(--bg-black100);
  padding: 0.25rem 0.5rem;
}

.boxClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.boxClose svg {
  font-size: 30px;
}

.formLang button {
  margin-block-start: 2rem;
}
