.formNewSkill {
  background-color: var(--bg-blueLight);
  padding: 2rem;
  border-radius: 0.5rem;
  height: auto;
  position: relative;
}

.field input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: none;
  border: 1px solid var(--bg-black100);
  border-radius: 0.25rem;
  margin-block: 20px;
}

.boxClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.boxClose svg {
  font-size: 30px;
}
