.menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--bg-blue200);
}

.buttonExcel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  background-color: var(--bg-green100);
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonExcel:hover {
  background-color: var(--bg-green);
}

.buttonExcel:active {
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
  }
}
