@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");

:root {
  --bg-white: #ffffff;
  --bg-gray300: #8e8ea1;
  --bg-white200: #f3f3f3;
  --bg-gray100: #f9f9f9;
  --bg-green: #00a389;
  --bg-purple: #6e1dd6;
  --bg-black: #22242c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 3px solid brown;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.btn {
  border: none;
  padding: 13px 24px;
  border-radius: 8px;
}

.bg-dark {
  background-color: var(--black);
  color: white;
}


/* main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
} */

.wrapper h1 {
  text-align: center;
}