.main {
  padding-block: 1rem;
  border: 3px solid brown;
}

.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  margin: 40px auto;
  /* border: 3px solid brown; */
}

.cvText {
  color: var(--bg-blue200);
}

.field {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.label {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.buttonText {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* .buttonContent input:focus {
  border: 2px solid var(--bg-blue200);
} */

.buttonContent {
  width: 100%;
}
.buttonContent input {
  width: 100% !important;
}
.textInfo {
  display: flex;
  flex-direction: column;
}

.subText {
  color: var(--bg-gray300);
  font-size: 10px;
}

.optionsJob {
  grid-column: 1/-1;
}

.fieldJob {
  display: flex;
  column-gap: 1rem;
}

.fieldJob input {
  /* margin-inline-end: 0.25rem; */
}

.titleJob {
  display: block;
}

.fieldText {
  grid-column: 1/-1;
}

.fieldText textarea {
  max-width: 100%;
  display: block;
}

.nextAction {
  display: flex;
  justify-content: flex-end;
}

.field input {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  border: 1px solid var(--bg-gray300);
  padding: 0.25rem;
}

.select {
  border-radius: 0.25rem;
  border: none;
  border: 1px solid var(--bg-gray300);
  padding: 0.25rem;
  width: 100%;
}
.field input[type="file"] {
  background-color: var(--bg-black);
  color: white;
  border: none;
}

.fieldText textarea {
  border-radius: 0.25rem;
  width: 100%;
}

.buttonField {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-block-end: 2rem;
}

.buttonField .register {
  background-color: var(--bg-black);
  color: white;
  padding: 0.5rem 1.5rem;
  outline: none;
  border-radius: 0.25rem;
  transition: 0.3s all ease;
  width: 100%;
}

.register:hover {
  cursor: pointer;
  background-color: black;
}

.account {
  border: none;
  background: none;
  color: var(--bg-purple);
}

@media screen and (min-width: 580px) {
  .field {
    column-gap: 2rem;
  }
}

@media screen and (min-width: 640px) {
  .field {
    grid-template-columns: 40% 1fr;
  }
  .buttonField .register {
    width: auto;
  }
  .buttonContent {
    width: 70%;
  }
}
